﻿body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td
{
    margin: 0;
    padding: 0;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img
{
    border: 0;
}
img
{
    vertical-align: middle;
}
address, caption, cite, code, dfn, em, strong, th, var
{
    font-style: inherit;
    font-weight: inherit;
}
li
{
    list-style: none;
}
caption, th
{
    text-align: left;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 9pt;
    font-weight: normal;
}
q:before, q:after
{
    content: '';
}
abbr, acronym
{
    border: 0;
    font-variant: normal;
}
sup
{
    vertical-align: baseline;
}
sub
{
    vertical-align: baseline;
}
legend
{
    color: #000;
}
input, button, textarea, select, optgroup, option
{
    font-family: inherit;
    font-size: 9pt;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select
{
    font-size: 9pt;
}
html
{
    overflow-x: hidden;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background: #F9F9F9;
    color: #000;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    overflow-x: hidden;
}
a:link, a:visited
{
    color: #000;
    text-decoration: none;
}
a:hover
{
    color: #000;
    text-decoration: underline;
}
.bold
{
    font-weight: bold;
}
#topBox, #head, #mainbox
{
    width: 100%;
}
#topBox
{
    background: #FEF387;
    border-bottom: 1px solid #E9D8A2;
    height: 42px;
}
#topBox .sean
{
    background: url(/layouts/shares/images/arr1.gif) no-repeat right center;
    padding-right: 10px;
    float: right;
    margin: 20px 18px 0 0;
    display: inline;
    font-weight: bold;
}
#head
{
    height: 64px;
    position: relative;
}
#head .logo
{
    position: absolute;
    left: 32px;
    top: 5px;
}
#head .account
{
    position: relative;
    left: 340px;
    top: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: url(../images/arr2.gif) no-repeat left center;
    padding-left: 10px;
}
#top-nav
{
    float: right;
    width: 100%;
    height: 31px;
    color: white;
    text-align: right;
    width: 100%;
    background: url(/layouts/shares/images/top-bg.jpg) top left repeat-x;
}

#top-nav a
{
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    color: #da1a04;
    text-decoration: none;
    padding-right: 15px;
}

#nav
{
    width: 685px;
    height: 45px;
    float: right;
    margin-right: -23px;
    margin-top: 12px;
    background: url(/layouts/shares/images/top_bg.jpg) top left repeat-x;
}

#nav_holder
{
    float: right;
    width: 736px;
}

.outerWrapper
{
    width: 936px;
    text-align: left; /* fix for IE centering */
    margin: 0px auto; /* none-IE centering */
    height: 100%;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
}

/* #mainbox { background:url(/_layouts/shares/images/bg.gif) repeat-x center 0; min-height:600px; height:100%; font-size:9pt; font-family: Arial, Helvetica, sans-serif;} */
#mainbox
{
    /* background: url(/_layouts/shares/images/seamless-water.jpg) repeat-x center 0; */ /* background-color: Red; */ /* background: url(/_layouts/shares/images/seamless-water.jpg) repeat-x center 0; */ /* background: url(/_layouts/shares/images/seamless-water.jpg) repeat-x center 0; */ /* min-height: 600px; */ /* min-height: 200px; */ /* height: 100%; */ /* background:url(/_layouts/shares/images/bg.gif) repeat-x center 0; */
    background: url(/layouts/shares/images/seamless-water.jpg) repeat-x center 0; /* min-height:600px; */
    height: 100%;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif; /* background-color: Red; */
}
/* #mainContent { background:url(/_layouts/shares/images/main.jpg) no-repeat center top; min-height:600px; padding:36px 44px 0; overflow:auto; font-size:9pt; font-family: Arial, Helvetica, sans-serif; zoom:1;} */
/* #mainContent { background:url(/_layouts/shares/images/seamless-water.jpg) no-repeat center top; min-height:600px; padding:36px 44px 0; overflow:auto; font-size:9pt; font-family: Arial, Helvetica, sans-serif; zoom:1;} */
#mainContent
{
    /* background-color: #E9F0FC; */ /* background-color: Red; */ /* background-color: #E9F0FC; */ /* background-color: Red; */ /* min-height: 600px; */ /* min-height: 200px; */ /* padding: 36px 44px 0; */
    overflow: auto;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif; /* zoom: 1; */ /* background: url(/_layouts/shares/images/seamless-water.jpg) repeat-x center 0; */ /* background-color: Purple; */ /* background:url(/_layouts/shares/images/seamless-water.jpg) no-repeat center top; */ /* min-height:600px; */
}

#sidebar
{
    float: left;
    width: 161px;
    padding: 20px 13px;
    background: #EFE8FF url(../images/arrLeft.gif) no-repeat left top;
    border-right: 1px solid #FFF;
}
#sidebar dl
{
    background: url/layouts/shares/images/line.gif) no-repeat center bottom;
    padding-bottom: 10px;
}
#sidebar dt
{
    color: #FF1A00;
    font-weight: bold;
    font-size: 16px;
    width: 140px;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background: url(../images/line.gif) no-repeat center bottom;
}
#sidebar dd
{
    line-height: 30px;
    background: url(../images/point.gif) no-repeat left center;
    padding-left: 12px;
    font-weight: bold;
    margin-left: 10px;
}
#sidebar dd a:hover
{
    color: #13A7C2;
}
#content
{
    /* margin-left: 0px; */
    height: auto !important; /* height: 100px; */ /* padding: 15px 18px 15px 14px; */ /* background: #fff url(../images/arrRight.gif) no-repeat right top; */
    border-left: 1px solid #95CAFE;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif; /* background: url(/_layouts/shares/images/seamless-water.jpg) repeat-x center 0; */
    background-color: #E9F0FC; /* background-color: Yellow; */ /* background-color: Purple; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#content .title
{
    padding: 0 3px;
}
#content .title input
{
    float: right;
    margin-top: 5px;
}
#content h2
{
    font-size: 18px;
    line-height: 36px;
}
#content h3
{
    background: #EFE8FF;
    border-top: 1px solid #95CAFE;
    margin-top: 20px;
    color: #676785;
    line-height: 20px;
    height: 20px;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.infoEdit
{
    padding: 4px 8px;
}
.infoTab
{
    width: 100%;
    border-top: 1px solid #9AC6FF;
    border-bottom: 1px solid #9AC6FF;
}
.infoTab td
{
    line-height: 28px;
    padding: 0 5px;
}
.infoTab th
{
    background: #EFE8FF;
    padding: 0 5px;
    text-align: right;
    font-weight: normal;
}
.infoTab2
{
    border: 1px solid #C0C0C0;
}
.infoTab2 td
{
    line-height: 25px;
    text-align: center;
    color: #676767;
}
.infoTab2 th
{
    background: #EFEFEF;
    text-align: center;
    line-height: 25px;
    color: #676767;
}

html, body, #wrapper
{
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center; /* background-color: Red; */
}

#wrapper
{
    /* margin: 0 auto; */ /* margin: 0; */
    margin: 0 auto; /* text-align: left; */
    vertical-align: middle; /* vertical-align: top; */
    height: auto; /* min-height: 600px; */
    width: 100%; /* background-color: Purple; */ /* background: url(/_layouts/shares/images/seamless-water.jpg) repeat-x center 0; */ /* background-color: #E9F0FC; */ /* background-color: Red; */
}




