﻿/* table style */
table.igoogle-classic
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	border:solid 1px #7aa5d6;
}

/* header cell style */
.igoogle-classic th
{
    color:#3366cc;
	border-right-color:#7aa5d6;
	border-bottom-color:#7aa5d6;
    background:#e5ecf9;
}  

/* cell styles */
.igoogle-classic td
{
    border-bottom-color:#e5ecf9;	
    border-right-color:#e5ecf9;	
}

/* mouseover row style */
.igoogle-classic .row-over 
{ 
	background-color:#e5ecf9;
}

/* mouse select row style */
.igoogle-classic .row-select 
{ 
	background-color:#7aa5d6;
	color:#fff;
}

