﻿.top-links
{
    min-height: 30px;
    width: 100%;
    background: url(/themes/safe/images/top-nav-rpt.jpg) #276ed9 repeat-x;
}
.top-link-text
{
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 20px 0 0;
    font-family: 'Droid Serif' , serif;
    font-size: 14px;
}
.top-link-text ul
{
    list-style-type: none;
    display: block;
    margin: 1px 0px 4px 0px;
}
.top-link-text li
{
    display: inline;
    margin-left: 30px;
}
.top-link-text a
{
    color: #fff;
}
.top-link-text a:visited
{
    color: #fff;
}

a:link
{
    text-decoration: none; 
}

.main-nav
{
    color: #fff; /* margin-top: 10px; */ /* padding-top: 15px; */
    padding-bottom: 25px;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Droid Serif' , serif;
    font-size: 22px;
    position: relative;
    text-align: center;
}

.nav-links
{
    min-height: 30px;
    width: 100%; /*background: url(/themes/safe/images/top-nav-rpt.jpg) #276ed9 repeat-x;*/
    background-color: #276ed9;
}

.nav-link-text
{
    /*text-align:right; 	color:#fff; 	text-transform:uppercase; 	padding:7px 20px 0 0; 	font-family: 'Droid Serif', serif; 	font-size:14px;*/
}
.nav-link-text ul
{
    list-style-type: none;
    display: block;
    margin: 1px 0px 4px 0px;
}
.nav-link-text li
{
    display: inline;
    margin-left: 30px;
}
.nav-link-text a
{
    color: #fff;
}

.nav-link-text a:visited
{
    color: #fff;
}

.login
{
    width: 100%;
    margin-bottom: 15px;
}

.login tr
{
    height: 32px;
}

.login label, input[type="text"], input[type="password"], input[type="submit"]
{
    font-size: 14px;
    position: relative;
    font-family: 'PT Sans' , sans-serif;
    min-height: 24px;
    padding-left: 5px;
    vertical-align: bottom;
}

.login input[type="text"]
{
    width: 100%;
    vertical-align: bottom;
}

/*username*/
.login input[type="password"]
{
    width: 100%;
    vertical-align: bottom;
}

/*password*/
.login input[type="submit"]
{
    background-color: #276ed9;
    min-height: 48px;
    width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Droid Serif' , serif;
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 2px 1px #17325f;
    border-radius: 4px;
}
/*submit button*/

.pageTitleHeader
{
    font-size: large;
}
