﻿body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td
{
    margin: 0;
    padding: 0;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img
{
    border: 0;
}
img
{
    vertical-align: middle;
}
address, caption, cite, code, dfn, em, strong, th, var
{
    font-style: inherit;
    font-weight: inherit;
}
li
{
    list-style: none;
}
caption, th
{
    text-align: left;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 9pt;
    font-weight: normal;
}
q:before, q:after
{
    content: '';
}
abbr, acronym
{
    border: 0;
    font-variant: normal;
}
sup
{
    vertical-align: baseline;
}
sub
{
    vertical-align: baseline;
}
legend
{
    color: #000;
}
input, button, textarea, select, optgroup, option
{
    font-family: inherit;
    font-size: 9pt;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select
{
    font-size: 9pt;
}
html
{
    overflow-x: hidden;
}
body
{
    /* background: #F9F9F9; */ /* background-color: Red; */
    background-image: url(../images/seamless-water.jpg);
    background-position: center;
    background-repeat: repeat; /* color: #000; */
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    overflow-x: hidden;
}
a:link, a:visited
{
    color: #000;
    text-decoration: none;
}
a:hover
{
    color: #000;
    text-decoration: underline;
}
.bold
{
    font-weight: bold;
}
#topBox, #head, #mainbox
{
    width: 100%;
}
#topBox
{
    background: url(/layouts/shares/images/top-bg.jpg) top left repeat-x;
    border-bottom: 1px solid #E9D8A2;
    height: 31px;
    width: 100%;
}
#topBox .welcome
{
    padding-right: 10px;
    float: right;
    margin: 20px 18px 0 0;
    display: inline;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
}
#top-nav
{
    float: right;
    width: 100%;
    height: 31px;
    color: white;
    text-align: right;
    width: 100%;
    background: url(/layouts/shares/images/top-bg.jpg) top left repeat-x;
}

#top-nav a
{
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    color: #da1a04;
    text-decoration: none;
    padding-right: 15px;
}
#head
{
    height: 64px;
    position: relative;
}
#head .logo
{
    position: absolute;
    left: 32px;
    top: 5px;
}
#head .account
{
    position: absolute;
    left: 332px;
    top: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: url(../images/arr2.gif) no-repeat left center;
    padding-left: 10px;
}
/* #mainbox { background:url(../images/bg.gif) repeat-x center 0; min-height:600px; } */
/* #mainbox { background: #E9F0FC repeat-x center 0; min-height:600px; } */
#mainbox
{
    background: url(../images/seamless-water.jpg) repeat-x center top;
    min-height: 600px;
}
/* #mainContent { background:url(../images/main.jpg) no-repeat center top; min-height:500px; padding:36px 44px 0; overflow:auto; zoom:1; height:100%; } */
/* #mainContent { background:url(../images/seamless-water.jpg) no-repeat center top; min-height:500px; padding:36px 44px 0; overflow:auto; zoom:1; height:100%; } */
#mainContent
{
    background: #E9F0FC center;
    min-height: 500px;
    padding: 36px 10px 0;
    overflow: auto;
    zoom: 1;
    height: 100%;
}

#sidebar-orig
{
    float: left;
    width: 161px;
    padding: 20px 13px;
    min-height: 400px;
    background: #EFE8FF url(../images/arrLeft.gif) no-repeat left top;
    border-right: 1px solid #FFF;
}
#sidebar-orig dl
{
    background: url(../images/line.gif) no-repeat center bottom;
    padding-bottom: 10px;
}
#sidebar-orig dt
{
    color: #FF1A00;
    font-weight: bold;
    font-size: 16px;
    width: 140px;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background: url(../images/line.gif) no-repeat center bottom;
}
#sidebar-orig dd
{
    line-height: 30px;
    background: url(../images/point.gif) no-repeat left center;
    padding-left: 12px;
    font-weight: bold;
    margin-left: 10px;
}
#sidebar-orig dd a:hover
{
    color: #13A7C2;
}

#sidebar
{
    float: left; /*width: 161px;*/
    /* width: auto; */ 
    /* width: 200px; */
    width: 240px;
    padding: 10px 10px;
    min-height: 400px; /* background: #EFE8FF url(../images/arrLeft.gif) no-repeat left top; */
    background-color: #E9F0FC;
    border-right: 1px solid #FFF;
}
#sidebar dl
{
    background: url(../images/line.gif) no-repeat center bottom;
    padding-bottom: 10px;
}
#sidebar dt
{
    /*color: #FF1A00;*/
    color: #276ed9;
    font-weight: bold;
    font-size: 16px; /*width: 140px;*/
    width: auto;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background: url(../images/line.gif) no-repeat center bottom;
    vertical-align: middle;
}

#sidebar dt img
{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#sidebar dd
{
    line-height: 30px; /*background: url(../images/point.gif) no-repeat left center;*/
    padding-left: 12px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #276ed9;
    border-radius: 4px;
    margin: 2px 0px 2px 24px;
}

#sidebar dd a
{
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 5px;
}

#sidebar dd a:hover
{
    text-decoration: underline;
}

#leftColumn
{
    /* border: 2px solid red; */
}

#content
{
    /* margin-left: 188px; */
    /* border: 2px solid blue; */
    height: auto !important;
    height: 400px;
    min-height: 400px;
    padding: 15px 18px 15px 14px;
    background: #fff url(../images/arrRight.gif) no-repeat right top;
    border-left: 1px solid #95CAFE;
}
#content .title
{
    padding: 0 3px;
}
#content .title input
{
    float: right;
    margin-top: 5px;
}
#content h2
{
    font-size: 18px;
    line-height: 36px;
}
#content h3
{
    background: #EFE8FF;
    border-top: 1px solid #95CAFE;
    margin-top: 20px;
    color: #676785;
    line-height: 20px;
    height: 20px;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.infoEdit
{
    padding: 4px 8px;
}
.infoTab
{
    width: 100%;
    border-top: 1px solid #9AC6FF;
    border-bottom: 1px solid #9AC6FF;
}
.infoTab td
{
    line-height: 28px;
    padding: 0 5px;
}
.infoTab th
{
    background: #EFE8FF;
    padding: 0 5px;
    text-align: right;
    font-weight: normal;
}
.infoTab2
{
    border: 1px solid #C0C0C0;
}
.infoTab2 td
{
    line-height: 25px;
    text-align: center;
    color: #676767;
}
.infoTab2 th
{
    background: #EFEFEF;
    text-align: center;
    line-height: 25px;
    color: #676767;
}

.tdSpacer
{
    width: 5px;
}

.pageHeaderTitle
{
    font-size: large;
}

.linkButton
{
    width: 40px;
    text-align: center;
    text-decoration: none;
    font: menu;
    display: inline-block;
    padding: 2px 8px;
    background: ButtonFace;
    color: ButtonText;
    border-style: solid;
    border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    margin: 2px;
}

.linkButton:active
{
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.button
{
    /* background-color: Red; */
}

.buttonHighLevelAction
{
    float: left;
    border-style: outset;
    border-width: 1px;
    background-color: #003399;
    color: #FFFFFF;
    height: 20px;
}

.fieldSetWithBorder
{
    border: 1px solid black;
    padding: 5px;
}



